{% extends 'layout.html' %}
{% block content %}
<div class="card-columns">
    {% for post in posts %}
        <div class="card shadow-sm mb-4">
            <img class="card-img-top" src="{{url_for('static', filename='profile_pics/' + post.author.image_file)}}" alt="Card image cap">
            <div class="card-body bg-light d-flex flex-column align-items-start">
              <strong class="d-inline-block text-primary">Post</strong>
              <h3 class="mb-0">
                <a class="text-dark" href="{{ url_for('post', post_id=post.id)}}">{{ post.title }}</a>
              </h3>
              <div class="mb-1 text-muted">{{ post.date_posted.strftime('%Y-%m-%d') }}</div>
              <p class="card-text text-dark mb-auto">{{ post.content }}</p>
            </div>
            <div class="card-footer mt-5">
                <a href="#mb-auto">- By {{ post.author.username }}</a><br>
                <a href="{{ url_for('post', post_id=post.id)}}">Continue reading</a>
            </div>
        </div>
<!--        <p class='text-muted pr-3'></p>-->
    {% endfor  %}
</div>
{% endblock content %} <!-- will work even without block name i.e. 'content', but just to be clear which block is
 closed we can specify the block name  -->
