{% extends 'layout.html' %}
{% block content %}
<script>
      function getImagePath(){
      var arr = [
      "https://source.unsplash.com/Im7lZjxeLhg/1920x1080","https://source.unsplash.com/0kjNpxQ6dPQ/1920x1080",
      "https://source.unsplash.com/iar-afB0QQw/1920x1080","https://source.unsplash.com/ah-HeguOe9k/1920x1080",
      "https://source.unsplash.com/MxVkWPiJALs/1920x1080","https://source.unsplash.com/duNHkmSkW6M/1920x1080",
      "https://source.unsplash.com/1DjbGRDh7-E/1920x1080","https://source.unsplash.com/-xTBn1YBrTE/1920x1080",
      "https://source.unsplash.com/A22zto3GRF4/1920x1080","https://source.unsplash.com/o4UhdLv5jbQ/1920x1080",
      "https://source.unsplash.com/3_a7s0MAXhc/1920x1080","https://source.unsplash.com/EOAKUQcsFIU/1920x1080",
      "https://source.unsplash.com/MnPF-0DTQ5c/1920x1080","https://source.unsplash.com/hXOGHaGCtdA/1920x1080",
      "https://source.unsplash.com/dyNa48QQNd0/1920x1080","https://source.unsplash.com/T_6k5qqV9b8/1920x1080",
      "https://source.unsplash.com/u_ObRw9rCFs/1920x1080","https://source.unsplash.com/DtNOKuodKD4/1920x1080",
      "https://source.unsplash.com/1GOyCAnJCms/1920x1080","https://source.unsplash.com/3_feR7eBK5s/1920x1080",
      "https://source.unsplash.com/Fsgzm8N0hIY/1920x1080","https://source.unsplash.com/leDcT12Igmo/1920x1080",
      "https://source.unsplash.com/QSvIIO_oVTo/1920x1080","https://source.unsplash.com/Bs-zngH79Ds/1920x1080"];

      return arr[Math.floor(Math.random() * arr.length)];
      }
      function set_most_recent_img_src(val) {
        var a = document.body.getElementsByTagName('IMG'); <!--  	Refer : https://stackoverflow.com/questions/12196435/javascript-function-return-src-path-->
        var img = a?a[a.length-1]:0;
        if (img) img.src = val;
      }
</script>
<div class="row">
<div class="col-md-9">
    <div class="row">
    <h1 class="mb-3 border-bottom pb-3" style="color:white;opacity: 0.7;"> Posts by {{user.username}}</h1>
        <h3 class="mb-3 border-bottom pb-3" style="color:white;opacity: 0.7;">{{ posts.total }}</h3>
    </div>
<div class="card-columns">
    {% for post in posts.items %}
        <div class="card shadow-sm mb-4">
            <img class="card-img-top" alt="Card image cap"><script>set_most_recent_img_src(getImagePath())</script>
            <div class="card-body bg-light d-flex flex-column align-items-start">
<!--              <strong class="d-inline-block text-primary">Post</strong>-->
              <h3 class="mb-0">
                <a class="card-title text-dark" href="{{ url_for('post', post_id=post.id)}}">{{ post.title }}</a>
              </h3>
              <div class="mb-1 text-muted">{{ post.date_posted.strftime('%Y-%m-%d') }}</div>
              <p class="card-text text-dark mb-auto">{{ post.content }}</p>
            </div>
            <div class="card-footer mt-5">
                <a class="float-right" href="{{ url_for('post', post_id=post.id)}}">Continue reading</a>
            </div>
        </div>
    {% endfor  %}
    {% for page_num in posts.iter_pages(left_edge=1,right_edge=1,left_current=1,right_current=2) %}
        {% if page_num%}
            {% if posts.page == page_num %}
                <a class="btn btn-info mb-4" href="{{ url_for('user_posts',username=user.username, page=page_num)}}">{{ page_num }}</a>
            {% else %}
                <a class="btn btn-outline-info mb-4" href="{{ url_for('user_posts',username=user.username, page=page_num)}}">{{ page_num }}</a>
            {% endif %}
        {% else %}
            ...
        {% endif %}
    {% endfor  %}
</div>
</div>
<div class="col-md-3">
    <div class="avatar">
        <img class="avatar" alt="Avatar" src="{{ url_for('static', filename='profile_pics/') + user.image_file }}">
    </div>
    <p class='text-center' style="color:white;opacity: 0.8;">{{user.username}}</p>
</div>
</div>
{% endblock content %}
<!-- will work even without block name i.e. 'content', but just to be clear which block is
 closed we can specify the block name  -->
